{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block conteudo %}
<h1>Bem-vindo à Home do projeto!</h1>

<img class="tamanho-imagem" src="{% static 'home/imagens/home.png' %}">

<p>Há nele os seguintes aplicativos:</p>
<ul>
    <li><a href="{% url 'info_internacional' %}">Internacional</a></li>
    <li><a href="{% url 'info_seguro_carros' %}">Seguro de Carros</a></li>
</ul>
{% endblock %}
